<!DOCTYPE html>
<html lang="en">

<body>
        <main class="wrap-main">
        <div class="wrap-main__conteiner">
            <div class="wrap-main__conteiner__content">
                <div class="wrap-main__conteiner__content__page">
                    <div class="wrap-main__conteiner__content__page-content"><span class="font_nutito">Обо мне</span>
                    </div>
                </div>
                <div class="wrap-main__conteiner__content__page">
                    <div class="wrap-main__conteiner__content__page-content"><span class="font_nutito">Портфолио</span>
                        <a href="https://github.com/Olpest22">github</a>
                    </div>
                </div>
                <div class="wrap-main__conteiner__content__page">
                    <div class="wrap-main__conteiner__content__page-content"><span class="font_nutito">Мои скиллы</span>
                    </div>
                </div>
                <div class="wrap-main__conteiner__content__page">
                    <div class="wrap-main__conteiner__content__page-content"><span class="font_nutito">Разное</span>
                    </div>
                </div>
            </div>
            <div class="wrap-main__conteiner__panel">
                <div class="box a" id="about-me"><span class="font_nutito">обо мне</span></div>
                <div class="box" id="portfolio"><span class="font_nutito">портфолио</span></div>
                <div class="box" id="skills"><span class="font_nutito">скиллы</span></div>
                <div class="box b" id="other"><span class="font_nutito">???</span></div>
            </div>
        </div>
    </main>
</body>
</html>